main {
    padding: 2rem 1rem;
    text-align: center;
}

h1, h2, h3 {
    font-family: 'Bebas Neue';
    color: #3f3f3f;
    margin-bottom: .2em;
}

h1 {
    font-size: 2.8rem;
}

p {
    font-family: 'Roboto';
    color: #3f3f3f;
    font-weight: 400;
    margin-bottom: 2em;
}

p.limit-width {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}

.team-member {
    width: 100%;
    max-width: 400px;
    margin-bottom: 1.8rem;
}

.team-member__image {
    display: block;
    width: 100%;
    padding-top: 100%;
    background-size: cover;
    background-position: center;
}

.team-member__name {
    font-size: 1.4rem;
    font-weight: 600;
    color: #3f3f3f;
    padding: .6rem 0;
}

.team-member__social i {
    font-size: 1.4rem;
}

.team-member__social a {
    margin: 0 .2rem;
    text-decoration: none;
}

@media (min-width: 768px) {
    .team-member {
        width: 30%;
    }

    .grid {
        justify-content: space-around;
    }
}

.achievement, .project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2.4rem;
}

.achievement__content,  .project__content {
    flex-grow: 1;
    flex-basis: 0;
    padding: 1rem 0;
    text-align: center;
}

.project__content {
    padding: 1.4rem 0;
}

.achievement__image, .project__image {
    max-width: 400px;
    width: 100%;
    min-width: 300px;
}

.achievement__title, .project__title {
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: .4px;
}

.achievement__description, .project__description {
    font-weight: 400;
    padding: 1rem 0;
    font-size: 1.05rem;
}

.achievement__description.limit-width {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.achievement__participants {
    font-weight: 600;
    font-size: 1.05rem;
}

.project__link {
    padding: .5rem .8rem;
    background-color: #3f3f3f;
    color: white;
    font-weight: 500;
    text-decoration: none;
    margin-top: .3rem;
    display: inline-block;
}

@media (min-width: 768px) {
    .achievement, .project {
        flex-direction: row;
        align-items: flex-start;
    }

    .project {
        margin: 0;
        padding: 2.8rem 0;
    }

    .project.reversed {
        flex-direction: row-reverse;
    }

    .achievement__content, .project__content {
        text-align: left;
        padding: 1rem 1.8rem;
    }

    .project__content {
        padding: 1.5rem 2.4rem;
    }

    .achievement__image {
        width: 50%;
        max-width: 475px;
        min-width: 400px;
    }

    .project__image {
        width: 40%;
        max-width: 400px;
        min-width: 400px;
    }
}

.event {
    padding: 2.8rem 0;
}

.event__images {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-bottom: 1.4rem;
}

.event__images * {
    width: 30%;
    display: block;
    min-width: 300px;
    margin-bottom: .4rem;
}

.event__title {
    font-size: 2.2rem;
    font-weight: 600;
    padding-bottom: .8rem;
}

.event__description {
    font-weight: 400;
    font-size: 1.05rem;
    max-width: 800px;
    margin: auto;
}

@media (max-width: 768px) {
    .event__images * {
        width: 100%;
        max-width: 432px;
    }
}