.block {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.block--hero {
    padding: 5rem 1rem;
    min-height: 100vh;
}

.block__image {
    margin: 0 auto 2.5rem;
    width: 80%;
    max-width: 280px;
    min-width: 240px;
}

.block__image img {
    width: 100%;
    display: block;
}

.content--hero {
    margin-bottom: 2.5rem;
}

.content--with-bottom {
    margin-bottom: 2rem;
}

.content__heading {
    font-family: 'Bebas Neue';
    color: #3f3f3f;
    font-size: 2.5rem;
    text-align: center;
    line-height: 5rem;
}

.content--hero .content__heading {
    font-size: 4.5rem;
    line-height: 4.5rem;
}

.content__sub-heading {
    font-family: 'Bebas Neue';
    color: #707070;
    font-size: 1.6rem;
    text-align: center;
    line-height: 2.5rem;
}

.content--hero .content__sub-heading {
    font-size: 2.2rem;
    line-height: 2.2rem;
}

.content__content {
    text-align: center;
    color: #707070;
    font-size: 1.1rem;
    font-weight: 500;
}

a.button {
    background-color: #3f3f3f;
    color: white;
    font-family: 'Bebas Neue';
    font-size: 1.4rem;
    padding: .6rem 1.2rem;
    border: 0;
    letter-spacing: .05rem;
    display: block;
    width: fit-content;
    text-decoration: none;
}

a.button.button--primary {
    background: transparent;
    position: relative;
    font-size: 1.6rem;
}

.block--hero .button--primary {
    margin: 2.2rem auto 0;
    display: block;
    width: fit-content;
}

a.button.button--primary:after, a.button.button--primary:before {
    content: "";
    position: absolute;
    background-color: #E38202;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: top .2s, left .2s;
}

a.button.button--primary::after {
    top: .2rem;
    left: .2rem;
}

a.button.button--primary::before {
    top: -.2rem;
    left: -.2rem;
}

a.button.button--primary:hover::after,
a.button.button--primary:hover::before {
    top:0;
    left:0;
}

.content__content--gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.gallery-item {
    display: block;
    max-width: 180px;
    min-width: 150px;
    width: 45%;
    margin: .2rem .4rem;
}

.gallery-item div {
    width: 100%;
    padding-top: 85%;
    background-size: cover;
    background-position: center;
}

@media (min-width: 768px) {
    .block--2-column {
        justify-content: space-between;
        flex-direction: row;
    }

    .block {
        margin-bottom: 1.6rem;
    }

    .block:last-child {
        margin-bottom: 0;
        margin-top: 3.2rem;
        padding-bottom: 0;
    }

    .block.block--hero {
        flex-direction: row-reverse;
    }

    .block__image {
        margin: 0;
        width: 30%;
        max-width: none;
    }

    .block--hero .block__image {
        width: 50%;
    }

    .block--hero .block__image img {
        width: 90%;
        margin: auto;
    }

    .content--hero {
        margin-bottom: 0;
    }

    .content--hero .content__heading {
        font-size: 7.2rem;
        line-height: 6.8rem;
        letter-spacing: .06rem;
    }

    .content--hero .content__sub-heading {
        font-size: 3.7rem;
        line-height: 4.4rem;
    }

    .content:not(.content--hero) {
        width: 100%;
    }

    .block--2-column .content:not(.content--hero) {
        width: 60%;
    }

    .block--2-column .content__heading, 
    .block--2-column .content__sub-heading,
    .block--2-column .content__content {
        text-align: left;
    }

    .content__heading {
        font-size: 3.2rem;
        letter-spacing: .04rem;
    }
    
    .content__content {
        font-size: 1.25rem;
    }

    .block--hero .button--primary {
        margin: 1.8rem 0 0 .5rem;
    }

    .block a.button {
        font-size: 1.5rem;
    }

    .content__content--gallery {
        padding: 1rem 0;
    }
    
    .gallery-item {
        width: 20%;
        max-width: none;
        flex-grow: 1;
    }
}

.achievement-brief {
    margin-bottom: .4em;
    padding: 1em;
    background: #f3f4f7;
    font-weight: 400;
    font-size: 1.25rem;
}

.content__content#achievements {
    padding: .4rem 0 .8rem;
}
