<div class="achievement">
    <div class="achievement__image" style="background-image: url('{{ include.achievement.image }}')"></div>
    <div class="achievement__content">
        <div class="achievement__title">
            {{ include.achievement.title }}
        </div>
        <div class="achievement__description">
            {{ include.achievement.description }}
        </div>
        <div class="achievement__participants">
            {{ include.achievement.participants }}
        </div>
    </div>
</div>