<div class="event">
    <div class="event__images">
        <img src="https://swaraj-jain.github.io/ROBOISM-Webpage/activityimg/1.jpg" alt="">
        <img src="https://swaraj-jain.github.io/ROBOISM-Webpage/activityimg/1.jpg" alt="">
        <img src="https://swaraj-jain.github.io/ROBOISM-Webpage/activityimg/1.jpg" alt="">
    </div>
    <div class="event__title">
        Concetto 2K19
    </div>
    <div class="event__description limit-width">
        The 3 day technical fiesta of IIT(ISM) - "CONCETTO" is one of the largest Techno-management fest in Eastern India with a massive participation of more than 2000 participants from 300 different colleges and institutes, who stalk the grounds of ISM to prove their technical expertise. Encompassing the various boundaries of science and technology, Concetto is there with 45 events in all providing a platform to shoot the "TECHNICAL ME" of everyone. Apart from the various Robotics and Coding events, Concetto calls all you budding entrepreneurs to showcase your innovative business skills. Several departmental events of petroleum engineering, mining engineering and mechanical engineering are all lined up as well. At the same time, hone your skills by joining our workshops taken by the eminent personalities in the various fields of science.
    </div>
</div>