<footer id="contact">
    <div class="footer__items">
        <div class="footer__logo">
            <img src="/images/logo.png" alt="">
        </div>
        <div class="menu">
            <ul class="menu__nav">
                <li class="menu__nav-item"><a href="/">Home</a></li>
                <li class="menu__nav-item"><a href="/achievements">Achievements</a></li>
                <li class="menu__nav-item"><a href="/about">About</a></li>
                <li class="menu__nav-item"><a href="/events">Events</a></li>
                <li class="menu__nav-item"><a href="/alumni">Alumni</a></li>
            </ul>
        </div>
        <div class="contact">
            <div class="contact__heading">
                Contact Us
            </div>
            <div class="contact__contacts">
                <a href="mailto:robotics@iitism.ac.in" class="contact__email-contact">
                    robotics@iitism.ac.in
                </a>
                <a href="https://www.google.com/maps/place/Indian+Institute+of+Technology+(Indian+School+of+Mines)+Dhanbad/@23.8142953,86.4411807,15z/data=!4m5!3m4!1s0x0:0x122cb1d133a89995!8m2!3d23.8142953!4d86.4411807" class="contact__location-contact">
                    IIT (ISM) Dhanbad
                </a>
            </div>
            <div class="contact__socials">
                <a href="https://www.facebook.com/roboism/">
                    <i class="fab fa-facebook-square"></i>
                </a>
                <a href="https://www.youtube.com/channel/UCGt9dMldcwUA4qzTW2foOfg">
                    <i class="fab fa-youtube-square"></i>
                </a>
                <a href="https://www.linkedin.com/company/roboism/">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://github.com/RoboISM">
                    <i class="fab fa-github-square"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="copyright">
        © RoboISM {{ site.time | date: "%Y" }} &nbsp; &nbsp; &nbsp; | &nbsp; &nbsp; &nbsp; Made by RoboISM Members
    </div>
</footer>