<footer>
    <div class="footer__items">
        <div class="footer__logo"></div>
        <div class="menu">
            <ul class="menu__nav">
                <li class="menu__nav-item">Home</li>
                <li class="menu__nav-item">Achievements</li>
                <li class="menu__nav-item">Contact</li>
                <li class="menu__nav-item">About</li>
                <li class="menu__nav-item">Events</li>
            </ul>
        </div>
        <div class="contact">
            <div class="contact__heading">
                Contact Us
            </div>
            <div class="contact__contacts">
                <div class="contact__email-contact">
                    robotics@iitism.ac.in
                </div>
                <div class="contact__location-contact">
                    IIT (ISM) Dhanbad
                </div>
            </div>
            <div class="contact__socials">
                <a href="">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="">
                    <i class="fab fa-linkedin"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="copyright">
        © RoboISM {{ site.time | date: "%Y" }} &nbsp; &nbsp; &nbsp; | &nbsp; &nbsp; &nbsp; Made by RoboISM Members
    </div>
</footer>