<header {% unless page.header == "fixed" %} class="sticky" {% endunless %}  >
    <a href="/">
        <img src="/images/logodark.png" alt="" class="header__logo">
    </a>
    <div class="menu">
        <ul class="menu__nav">
            <li class="menu__nav-item">
                <a href="/">
                    Home
                </a>
            </li>
            <li class="menu__nav-item">
                <a href="/about">
                    About
                </a>
            </li>
            <li class="menu__nav-item">
                <a href="/achievements">
                    Achievements
                </a>
            </li>
            <li class="menu__nav-item">
                <a href="/projects">
                    Projects
                </a>
            </li>
            <li class="menu__nav-item">
                <a href="/events">
                    Events
                </a>
            </li>
            <li class="menu__nav-item">
                <a href="/#contact">
                    Contact
                </a>
            </li>
        </ul>
        <div class="menu__hamburger">
            <div class="menu__hamburger-line"></div>
            <div class="menu__hamburger-line"></div>
        </div>
    </div>
    <div class="mobile-menu">
        <ul class="mobile-menu__nav">
            <li class="mobile-menu__nav-item">
                <a href="/">
                    Home
                </a>
            </li>
            <li class="mobile-menu__nav-item">
                <a href="/about">
                    About
                </a>
            </li>
            <li class="mobile-menu__nav-item">
                <a href="/achievements">
                    Achievements
                </a>
            </li>
            <li class="mobile-menu__nav-item">
                <a href="/projects">
                    Projects
                </a>
            </li>
            <li class="mobile-menu__nav-item">
                <a href="/events">
                    Events
                </a>
            </li>
            <li class="mobile-menu__nav-item">
                <a href="/#contact">
                    Contact
                </a>
            </li>
        </ul>
    </div>
</header>