{% assign counter = include.counter | modulo: 2 %}
<div class="project {% if counter == 0 %} reversed {% endif %} ">
    <img src="https://swaraj-jain.github.io/ROBOISM-Webpage/img/projects/5.png" class="project__image">
    <div class="project__content">
        <div class="project__title">
            Terrace Farming Bot
        </div>
        <div class="project__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget facilisis nulla. Sed sagittis ipsum sit amet est luctus malesuada. Mauris at nulla eleifend, gravida leo quis, tempus dui. Praesent eu mi nec odio sodales dictum. Quisque placerat pulvinar libero et feugiat. Proin luctus laoreet velit, eget lacinia velit bibendum efficitur. Sed sed arcu a diam congue eleifend.
        </div>
        <a href="" class="project__link">
            View Github
        </a>
    </div>
</div>