<div class="team-member">
    <div class="team-member__image" style="background-image: url('https://swaraj-jain.github.io/ROBOISM-Webpage/img/members/Eric%20John%20Dungdung.jpg');"></div>
    <div class="team-member__name">
        Eric John Dungdung
    </div>
    <div class="team-member__social">
        <a href="/">
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="/">
            <i class="fas fa-envelope-square"></i>
        </a>
        <a href="/">
            <i class="fab fa-github-square"></i>
        </a>
    </div>
</div>